<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="corver">
            ed
        </div>
        <div class="login-box">
            <h1 class="logo">Kou<span>anliy</span></h1>
            <h2>Koneksyon</h2>
            <form action="" method="post">
                <div class="input-box">
                    <label for="email">adress elektwonik</label>
                    <input type="text" name="email">
                </div>
                <div class="input-box">
                    <label for="password">Modepas</label>
                    <input type="password" name="password">
                </div>
                <button type="submit">Konekte</button>
            </form>
            <div class="foot">
                <i>Ou pa gen kont?<a href=""> enskri</a></i>
            </div>
            <div class="message">Obyen konekte avek</div>
            
            <div class="extern">
                
                <div class="google"><i class=" ion-social-google"></i></div>
                <div class="facebook"><i class="ion-social-facebook"></i></div>
                <div class="twitter"><i class=" ion-social-twitter"></i></div>
            </div>
        </div>
    </div>
<option value=""></option>
</body>

</html>