<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/course-liste2.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        
        
        <div class="nav">
            <div class="left">
                <div class="menu">
                    <i class="ion-android-menu open"></i>
                    <i class=" ion-android-close close hide"></i>
                </div>
                <div class="logo">
                    <a href="#">Kou<span>Online</span></a>
                </div>
            </div>
            
            <div class="search-box">
                <input type="search" name="" id="" placeholder="Chache">
                <button type="submit">Chache</button>
            </div>
            <div class="user">
                <img src="../img/5.jpg" alt="" srcset="">
                <em>Desir Thierry</em>
            </div>
            
                <!-- <div class="user">
                    <button class="sign-in">sign-in</button>
                    <button class="login">LOGIN</button>                
                </div> -->
        </div>
        <div class="nav_hide">
            
        </div>
        <!-- <div class="body"> -->
        <div class="body">
            <div class="nav-menu">
                <div class="nav-link">
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/course">COURSE3</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            </div>
        
            <div class="footer">
            <div class="first">
                <div class="desc">
                    <h1>KOU<span>ANLIY</span></h1>
                    <p> 
                        Kouanliy se yon platfom ki pemet ou aprran san ou pa deplase nan lang ayisyen an
                    </p>
                    <div class="follow">
                        <h2>FOLLOW US:</h2>
                        <ul>
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-linkedin"></i></a></li>
                            <li><a href=""><i class=" ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-whatsapp"></i></a></li>
                            <li><a href=""><i class=" ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="link">
                    <h1>UseFullLinks</h1>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Course</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Terms Of Service</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <h1>Get in touch</h1>
                    <ul>
                        <li><a href="">+509 3401-7220</a></li>
                        <li><a href="">+509 4028-1374</a></li>
                        <li><a href="">desirthierry61@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <div>
                    &copy;Copyright 2023 AllRights reserved
                </div>
                <div>
                    Privacy Polycy | Terms and Condition
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
       
<script src="js/index.js"></script>
    <!-- <script src="./js/url_route.js"></script> -->
</body>
</html>